[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
black = "*"
graphviz = "*"
pydot = "*"
sqlalchemy-schemadisplay = "*"
sqlalchemy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
