{% extends 'base.html' %}

{% block head%}
<link href="{{ url_for('static', filename='styleEditQuiz.css') }}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='jquery.scrollTo.min.js') }}"></script>
{% endblock %}

{% block content %}
<a href="#" class="scrollup"></a>
<div class="container">
    <form action="{{ url_for('main.edit_quiz',quiz_id_parameter=quiz.id) }}"
          method="POST">
        <holder id="{{quiz.id}}"></holder>
        <h1>Edytuj quiz</h1>
        <h3>Tytuł</h3>
        <textarea name="quizTitle">{{quiz.title}}</textarea>
        <h3>Opis</h3>
        <textarea name="quizDescription">{{quiz.description}}</textarea>

        {% if questions|length < 1 %}
        <h3 style="text-align: center">Quiz nie zawiera pytań</h3>

        {% else %}
        <table>
            <h3>Pytania</h3>
            {% for question in questions %}
            <tr>
                <td colspan="2"><textarea class="textareaQuestion" name="questionText{{question.id}}">{{ question.text }}</textarea></td>
            </tr>
            {% for answer in question.answers %}
            <tr>
                <td><textarea class="textareaAnswer" name="answerText{{answer.id}}">{{ answer.text }}</textarea></td>
                <td>

                    <label for={{question.id}} class="hidden"></label>
                    {% if answer.is_correct is true %}
                    <input type="checkbox" name="answerBox{{answer.id}}" value="1" class="answerBox" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="answerBox{{answer.id}}" value="1" class="answerBox" />
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>  </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <h1>Zakończ edytowanie!</h1>

        <input type="button"
               id="cancel_editing_btn"
               name="cancel_editing_btn"
               value="<< Powrót" />
        <input type="button"
               id="finsih_deleting_btn"
               name="finsih_deleting_btn"
               value="Usuń quiz" />
        <input type="submit"
               name="finish_editing_btn"
               value="Zapisz zmiany" />
    </form>
</div>
<script>
    $('#cancel_editing_btn').click(function () {
        window.location.href = "{{ url_for('main.index') }}";
    });

    $('#finsih_deleting_btn').click(function () {
        let confirmAction = confirm("Czy na pewno chcesz usunąć ten quiz?");
        if (confirmAction) {
            var id = document.getElementsByTagName("holder")[0].id
            alert("Quiz usunięty");
            window.location.href = "/delete/quiz/" + id;
        } else {
            alert("Anulowano usunięcie quizu");
        }
    });


    jQuery(function ($) {
        $.scrollTo(0);


        $('#link3').click(function () { $.scrollTo($('.container'), 500); });
        $('.scrollup').click(function () { $.scrollTo($('body'), 1000); });
    }
    );

    $(window).scroll(
        function () {
            if ($(this).scrollTop() > 300) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
    );
</script>
{% endblock %}